<template>
    <div>
      <h1 class="font-bold text-md text-blue-800 hover:text-black cursor-pointer">Vue Doughnut Chart</h1>
      <div class="chart-div">
        <chartdoughnut :chartData="chartData" :options="chartOptions" class="line-chart" :type="'bar'"/>
      </div>
    </div>
</template>
  
<script>
  export default {
    data() {
      return {
        chartData: {
          labels: ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Aug" ],
          datasets: [
            {
              label: "Right",
              borderColor: "#390575",
              borderWidth: 4,
              pointBackgroundColor: "#ffff",
              pointRadius: 6,
              pointHoverRadius: 8,
              pointHoverBorderColor: "#390575",
              fill: false,
              // data: [-5, -100, -150, -50, -200, -180, -99, -5]
            },
            {
              label: "Left",
              borderColor: "#061e4d",
              borderWidth: 4,
              pointBackgroundColor: "#ffff",
              pointRadius: 6,
              pointHoverRadius: 8,
              pointHoverBorderColor: "#061e4d",
              fill: false,
              data: [5, 100, 150, 50, 200, 180, 99, 5]
            },
          ]
        },
        chartOptions: {
          maintainAspectRatio: false,
          responsive: true,
          tooltips: {
            backgroundColor: "#0c1c3d",
            titleFontColor: "#f2f3f5",
            bodyFontColor: "#f2f3f5",
            position: "nearest",
            mode: "nearest",
            intersect: 0,
            bodySpacing: 4,
            xPadding: 20,
          }
        }
      }
    },
  };
</script>
  
<style>
    .line-chart{
      width: 90vh;
      height: 40vh;
    }  
</style>
  