<template>
  <div class="bg-white ml-80">
    <div class="mt-7 mx-10">
      <div class="text-black text-md font-semibold">
        Hi Shakir!
      </div>
      <div class="flex flex-wrap my-6">
        <div class="bg-red-600 w-48 rounded-xl h-28 ml-4">
          <div class="text-white text-md py-3 px-3 font-semibold">
            R&D for New Banking Mobile App
          </div>
        </div>
        <div class="bg-blue-600 mx-6 w-56 rounded-xl h-28">
          <div class="text-white text-md px-3 py-3 font-semibold">
            Create Signup Page
          </div>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="text-black text-md font-semibold">
          Monthly Tasks
        </div>
        <div class="bg-gray-400 text-black text-xs px-3 py-1 ml-auto rounded-full font-semibold">
          Archive
        </div>
        <div class="flex flex-wrap bg-blue-400 text-white text-xs px-3 mx-2 pt-1 rounded-full font-semibold">
          <img src="../icons/plus polos.svg" class="w-4 h-4 mr-1">
          <div class="">New</div>
        </div>
      </div>
      <div class="flex flex-wrap py-10">
        <div class="text-blue-400 font-semibold text-xs">
          Active Tasks
        </div>
        <div class="text-slate-400 font-semibold text-xs mx-4">
          Completed
        </div>
        <div class="text-slate-400 font-semibold text-xs ml-56">
          Search
        </div>
      </div>
      <div>
        <div class="text-gray-500 text-md font-semibold py-2">
          Today
        </div>
        <div class="flex flex-wrap">
          <img src="../icons/uber.svg" class="w-12 h-10 mr-2 my-4">
          <div class="my-4">
            <div class="text-base text-slate-400 font-semibold">Uber</div>
            <div class="text-xs text-slate-400 font-semibold">App Design and Upgrades with New Features-In Progam 16 Days</div>
          </div>
        </div>
        <div class="flex flex-wrap">
          <img src="../icons/facebook.svg" class="w-21 h-12 mr-2 my-4">
          <div class="my-4">
            <div class="text-base text-slate-400 font-semibold">Facebook Ads</div>
            <div class="text-xs text-slate-400 font-semibold">App Design and Upgrades with New Features-In Progam 16 Days</div>
          </div>
        </div>
        <div class="flex flex-wrap">
          <img src="../icons/parking-sign.svg" class="w-21 h-12 mr-2 my-4">
          <div class="my-4">
            <div class="text-base text-slate-400 font-semibold">Payoneer</div>
            <div class="text-xs text-slate-400 font-semibold">App Design and Upgrades with New Features-In Progam 16 Days</div>
          </div>
        </div>
      </div>
      <div class="mt-3 mb-5">
        <div class="text-gray-500 text-md font-semibold py-2">
          Tomorrow
        </div>
          <div class="flex flex-wrap">
            <img src="../icons/upwork.svg" class="w-12 h-10 mr-2 my-4">
            <div class="my-4">
              <div class="text-base text-slate-400 font-semibold">Upwork</div>
              <div class="text-xs text-slate-400 font-semibold">App Design and Upgrades with New Features-In Progam 16 Days</div>
            </div>         
        </div>
      </div>
    </div>
    <div class="text-md font-bold text-center text-slate-700 py-3">Beberapa Tampilan Chart</div>
    <Pie/>
    <Bar/>
    <Line/>
    <Radar/>
    <Doughnut/>
  </div>
</template>

<script>
export default {
  name: 'IsiPage'
}
</script>