<template>
  <div class="flex flex-wrap h-screen overflow-auto fixed top-0">
    <div class="bg-gray-200 w-72 shadow-md">
      <div class="mt-5">
        <div class="flex flex-wrap">
          <img src="../icons/profil.png" class="w-21 h-12 my-4">
          <div class="my-4">
            <div class="text-base text-slate-400 font-semibold">AS Shakir</div>
            <div class="text-base text-slate-400 font-semibold">Sr. Visual Designer</div>
          </div>
        </div>
        <div class="ml-5">
          <div class="font-bold text-md text-black">Menu</div>
        </div>
        <div class="ml-4">
          <div class="flex flex-wrap my-4 hover:shadow-xl hover:bg-gray-400
          rounded-xl hover:text-white py-1 cursor-pointer">
            <img src="../icons/watched-task.svg" width="20" class="ml-4">
            <div class="text-base font-semibold px-3">My Tasks</div>
          </div>
          <div class="flex flex-wrap my-4 hover:shadow-xl hover:bg-gray-400
          rounded-xl hover:text-white py-1 cursor-pointer">
            <img src="../icons/chatting.svg" width="20" class="ml-4">
            <div class="text-base font-semibold px-3">Inbox</div>
          </div>
          <div class="flex flex-wrap my-4 hover:shadow-xl hover:bg-gray-400
          rounded-xl hover:text-white py-1 cursor-pointer">
            <img src="../icons/file.svg" width="20" class="ml-4">
            <div class="text-base font-semibold px-3">Project</div>
          </div>
          <div class="flex flex-wrap my-4 hover:shadow-xl hover:bg-gray-400
          rounded-xl hover:text-white py-1 cursor-pointer">
            <img src="../icons/time.svg" width="20" class="ml-4">
            <div class="text-base font-semibold px-3">Standups</div>
          </div>
          <div class="flex flex-wrap my-4 hover:shadow-xl hover:bg-gray-400
          rounded-xl hover:text-white py-1 cursor-pointer">
            <img src="../icons/date.svg" width="20" class="ml-4">
            <div class="text-base font-semibold px-3">Mettings</div>
          </div>
            <div class="flex flex-wrap my-4 hover:shadow-xl hover:bg-gray-400
            rounded-xl hover:text-white py-1 cursor-pointer">
            <img src="../icons/options.svg" width="20" class="ml-4">
            <div class="text-base font-semibold px-3">Settings</div>
          </div>
          <div class="flex flex-wrap my-4 hover:shadow-xl hover:bg-gray-400
          rounded-xl hover:text-white py-1 cursor-pointer">
            <img src="../icons/watched-task.svg" width="20" class="ml-4">
            <div class="text-base font-semibold px-3">My Tasks</div>
          </div>
          <div class="flex flex-wrap my-4 hover:shadow-xl hover:bg-gray-400
          rounded-xl hover:text-white py-1 cursor-pointer">
            <img src="../icons/chatting.svg" width="20" class="ml-4">
            <div class="text-base font-semibold px-3">Inbox</div>
          </div>
          <div class="flex flex-wrap my-4 hover:shadow-xl hover:bg-gray-400
          rounded-xl hover:text-white py-1 cursor-pointer">
            <img src="../icons/file.svg" width="20" class="ml-4">
            <div class="text-base font-semibold px-3">Project</div>
          </div>
          <div class="flex flex-wrap my-4 hover:shadow-xl hover:bg-gray-400
          rounded-xl hover:text-white py-1 cursor-pointer">
            <img src="../icons/time.svg" width="20" class="ml-4">
            <div class="text-base font-semibold px-3">Standups</div>
          </div>
          <div class="flex flex-wrap my-4 hover:shadow-xl hover:bg-gray-400
          rounded-xl hover:text-white py-1 cursor-pointer">
            <img src="../icons/date.svg" width="20" class="ml-4">
            <div class="text-base font-semibold px-3">Mettings</div>
          </div>
            <div class="flex flex-wrap my-4 hover:shadow-xl hover:bg-gray-400
            rounded-xl hover:text-white py-1 cursor-pointer">
            <img src="../icons/options.svg" width="20" class="ml-4">
            <div class="text-base font-semibold px-3">Settings</div>
          </div>
        </div>
      </div>
      <div class="ml-5">
        <div class="font-bold text-md text-black">Favorites</div>
        <div class="flex flex-wrap my-4 ml-3">
          <div class="border-8 w-6 rounded-full border-blue-400"></div>
          <div class="text-base font-semibold px-3">Redwhale Design</div>
        </div>
        <div class="flex flex-wrap my-4 ml-3">
          <div class="border-8 w-6 rounded-full border-yellow-400"></div>
          <div class="text-base font-semibold px-3">Mobile App</div>
        </div>
        <div class="flex flex-wrap my-4 ml-3">
          <div class="border-8 w-6 rounded-full border-green-400"></div>
          <div class="text-base font-semibold px-3">UI Design Revisi</div>
        </div>
      </div>
      <img src="../icons/plus.svg" width="48" class="mx-7 mb-4">
      <div class="text-base font-semibold text-gray-400 pl-8 pb-6">2021 As Shakir</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NavbarPage'
}
</script>
