<template>
  <div class="bg-transparant w-auto py-6 border-l-2 ml-28 h-screen overflow-y-auto fixed top-0 right-0">
    <div class="ml-4">
      <div class="flex flex-wrap">
        <div class="text-md font-semibold text-black">
        Today's Scheudle
        </div>
        <div class="flex flex-wrap bg-gray-100 rounded-full ml-48 cursor-pointer">
          <img src="../icons/category.svg" class="w-4 py-1 mx-2">
          <img src="../icons/date.svg" class="w-5 mx-2 py-1">
        </div>
      </div>
      <div class="flex flex-wrap my-8">
        <div>
          <div class="text-red-400 font-semibold text-xs">
          30 minute call with client
          </div>
          <div class="text-md text-black font-semibold">
            Project Discovery Call
          </div>
        </div>
        <div class="bg-gray-300 text-blue-700 cursor-pointer hover:bg-gray-200 font-semibold pt-2 ml-32 px-5 text-md rounded-full flex flex-wrap">
          <img src="../icons/plus polos.svg" class="w-4 h-4 mt-1 mr-1">
          <div>Invite</div>
        </div>
      </div>
      <div class="bg-green-400 rounded-md h-20 w-72 my-4 ml-8">
        <div class="flex flex-wrap py-7">
          <div class="text-base font-semibold text-white px-4">
          28.52
          </div>
          <img src="../icons/call.svg" class="w-5 ml-28">
          <img src="../icons/titik.svg" class="w-5 ml-2">
        </div>
      </div>
      <div class="border-t-2 w-72 my-5 ml-8"></div>
      <div>
        <div class="text-md font-semibold text-black">
          Design Project
        </div>
        <div class="text-xs font-semibold text-gray-400 py-2">
          In Progres
        </div>
        <div class="flex flex-wrap">
          <div class="ml-3">
            <div class="font-semibold text-gray-400 text-xs">
              Completed
            </div>
            <div class="flex flex-wrap">
              <div class="font-bold text-md text-black text-center">
                144
              </div>
              <di class="border-4 w-2 h-2 rounded-full border-green-400 ml-1"/>
            </div>
          </div>
          <div class="ml-10">
            <div class="font-semibold text-gray-400 text-xs">
              In Progres
            </div>
            <div class="flex flex-wrap">
              <div class="font-bold text-md text-black text-center">
                24
              </div>
              <di class="border-4 w-2 h-2 rounded-full border-red-400 ml-1"/>
            </div>
          </div>
          <div class="ml-10">
            <div class="font-semibold text-gray-400 text-xs">
                Members
            </div>
            <div class="flex flex-wrap">
              <div class="font-bold text-md text-black text-center">
                590
              </div>
              <di class="border-4 w-2 h-2 rounded-full border-blue-400 ml-1"/>
            </div>
          </div>
        </div>
        <div class="border-t-2 w-72 my-5 ml-8"/>
        <div>
        <div class="flex flex-wrap">
          <div class="text-md font-semibold text-black py-2">
            New Task
          </div>
          <div class="ml-72 font-semibold text-black text-xl">..</div>
        </div>
          <div class="text-xs text-gray-400 font-semibold">Task Title</div>
          <div>
            <input type="text" placeholder="Create New" class="text-black cursor-pointer bg-gray-300 font-semibold px-2 py-1 rounded-md my-4 w-72 ml-8">
          </div>
        </div>
      </div>
      <div class="flex flex-wrap ml-2">
        <button>
          <img src="../icons/button left.png" class="w-4" id="left">
        </button>
        <div id="geser" class="geser flex flex-row">
          <div>
            <img src="../icons/chatting.svg" width="20" class="ml-4">
          </div>
          <div>
            <img src="../icons/file.svg" width="20" class="ml-4">
          </div>
          <div>
            <img src="../icons/date.svg" width="20" class="ml-4">
          </div>
          <div>
            <img src="../icons/options.svg" width="20" class="ml-4">
          </div>
          <div>
            <img src="../icons/uber.svg" width="20" class="ml-4">
          </div>
          <div>
            <img src="../icons/chatting.svg" width="20" class="ml-4">
          </div>
          <div>
            <img src="../icons/uber.svg" width="20" class="ml-4">
          </div>
          <div>
            <img src="../icons/file.svg" width="20" class="ml-4">
          </div>
        </div>
        <button>
          <img src="../icons/button right.png" class="w-6 ml-4" id="slide">
        </button>
      </div>
      <div>
        <div class="text-xs font-semibold text-gray-400 py-2 mt-6">Add Colabolators</div>
        <div class="flex flex-wrap">
          <div class="rounded-full px-3 w-32 py-1 mx-1 bg-green-200">
            <div class="flex flex-wrap">
              <img src="../icons/profil.png" class="w-10">
              <div class="text-xs font-semibold text-black py-1 ml-1">Angela</div>
              <img src="../icons/plus polos.svg" class="w-4 h-4 mt-1 ml-1">
            </div>
          </div>
          <div class="rounded-full px-3 w-32 py-1 bg-red-200">
            <div class="flex flex-wrap">
              <img src="../icons/profil.png" class="w-10">
              <div class="text-xs font-semibold text-black py-1 ml-1">Hanabi</div>
              <img src="../icons/plus polos.svg" class="w-4 h-4 mt-1 ml-1">
            </div>
          </div>
          <div class="rounded-full px-3 w-32 py-1 mx-1 bg-blue-200">
            <div class="flex flex-wrap">
              <img src="../icons/profil.png" class="w-10">
              <div class="text-xs font-semibold text-black py-1 ml-1">Pharsa</div>
              <img src="../icons/plus polos.svg" class="w-4 h-4 mt-1 ml-1">
            </div>
          </div>
        </div>
        <div class="flex flex-wrap my-2">
          <div class="rounded-full px-3 w-32 py-1 mx-1 bg-green-200">
            <div class="flex flex-wrap">
              <img src="../icons/profil.png" class="w-10">
              <div class="text-xs font-semibold text-black py-1 ml-1">Angela</div>
              <img src="../icons/plus polos.svg" class="w-4 h-4 mt-1 ml-1">
            </div>
          </div>
          <div class="rounded-full px-3 w-32 py-1 bg-red-200">
            <div class="flex flex-wrap">
              <img src="../icons/profil.png" class="w-10">
              <div class="text-xs font-semibold text-black py-1 ml-1">Hanabi</div>
              <img src="../icons/plus polos.svg" class="w-4 h-4 mt-1 ml-1">
            </div>
          </div>
          <div class="rounded-full px-3 w-32 py-1 mx-1 bg-blue-200">
            <div class="flex flex-wrap">
              <img src="../icons/profil.png" class="w-10">
              <div class="text-xs font-semibold text-black py-1 ml-1">Pharsa</div>
              <img src="../icons/plus polos.svg" class="w-4 h-4 mt-1 ml-1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ScedulePage'
  }
</script>
