<template>
  <div class="flex flex-wrap w-screen h-screen">
   <Navbar/>
   <Isi/>
   <Scedule/>
  </div>
</template>

<script>
// import Navbar from '~/components/Navbar.vue'
import Isi from '~/components/Isi.vue'
import Scedule from '~/components/Scedule.vue'
export default {
  name: 'IndexPage',
  components: { Isi, Scedule }
}

